<table class="table">
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let idx = index">
      <td *ngFor="let val of row">{{val}}</td>
      <td>
        <button class="btn btn-default" type="button" (click)="onExportAsExcel(row, idx)" style="cursor: pointer">Export as excel</button>
             <button class="btn btn-default" type="button" (click)="onExportAsPdf(row, idx)" style="cursor: pointer">Export as pdf</button>
      </td>
    </tr>
  </tbody>
</table>